.DS_Store
*.swp
/.idea/
/direnv/
/gh/
/gh/hosts.yml
/gh/hosts.yml.backup
/git/
/github-copilot/
/htop
/htop.backup/
/iterm2/
/jgit/
/nix/.DS_Store
/nix/backup/
/nix/direnv/
/nix/gh/
/nix/git/
/nix/hosts/
/nix/nix.conf
/nix/texput.log
/nix/result
/nix/result-*
/nvim/lazyvim.json
/result
/result-*
