.DS_Store
*.swp
/.idea/
/direnv/
/gh/hosts.yml
/gh/hosts.yml.backup
/github-copilot/
/htop.backup/
/iterm2/
/jgit/
/vscode/snippets/
/cagent/.cagent_first_run
/nix/.DS_Store
/nix/backup/
/nix/direnv/
/nix/hosts/*.swp
/nix/nix.conf
/nix/texput.log
/nix/result
/nix/result-*
/nvim/lazyvim.json
/result
/result-*
